<<<<<<< HEAD
#links{
	width: 500px;
	height: 500px;
	background: ;

	
}
header{
	background: red;
	font-size: 30px;
	text-align: center;
	padding-top: 3px;
   
}
a:hover{ color: yellow;
	text-decoration: none;


}
.link1{
	 width: 100px;
  height: 50px;
  background: red;
  -webkit-transition: width 2s; 
  transition: width 2s;
  float: left;
  padding: 3px;

}
.link2{
	 width: 100px;
  height: 50px;
  background: red;
  -webkit-transition: width 2s; 
  transition: width 2s;
float: right;
padding: 3px
}


=======
<style>

body 
 {
	margin: 1px;
	border-width: 2px 1px 1px 2px;
	padding: 10px 5px 4px 10px;
	background: #f4f4f4;

}

 div {
   width: 150px;
   height: 150px;
   background: lightgrey;
   border-radius: 5px;
   transition: width 2s;
}

 }
>>>>>>> 3c18ff3677c21de9340e6fb0e001d4a6d605a03d
